body{
  background-image: url(./backgroundimg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card{
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
}
.card-body h1{
  font-size: 50px; 
  
}
#photo{
  height: 200px;
  width: 100%;
  border: 0.5px solid rgb(181, 181, 181);
  position: relative;
  
 }
 #text1-{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
 }
 .form-group>label{
  color: black;
  font-size: 18px;
  font-weight: 500;
 }
 #checkk{
    font-size: 40px;
    width: 40px;
    height: 20px;
 }
center>p{
  font-size: 22px !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 5% !important;
  padding: 10px;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 10px;
 }

 .hidden {
  display: none;
}
span{
  color: red;
}